REACT_APP_NAME="نام"
REACT_APP_DESCRIPTION="توضیحات"
REACT_APP_KEYWORDS="کلمات کلیدی"
REACT_APP_REST_URL="https://api.test.com"
REACT_APP_PORT="5500"
REACT_APP_FIRST_COLOR="#000"
REACT_APP_SECOND_COLOR="#000"
REACT_APP_THIRD_COLOR="#000"
REACT_APP_FORTH_COLOR="#000"
REACT_APP_BACKGROUND_COLOR="#000"
REACT_APP_SECOND_BACKGROUND_COLOR="#000"
REACT_APP_THIRD_BACKGROUND_COLOR="#000"
REACT_APP_SOLID_LIGHT="#000"
REACT_APP_SOLID_DARK="#000"
REACT_APP_TEXT_COLOR="#FFF"
REACT_APP_BORDER_COLOR="#000"
REACT_APP_SECOND_BORDER_COLOR="#000"
REACT_APP_MATERIAL_COLOR="#000"
REACT_APP_VERY_SMALL_FONT="11px"
REACT_APP_SMALL_FONT="12px"
REACT_APP_REGULAR_FONT="13px"
REACT_APP_TITLE_FONT="14px"
REACT_APP_BIG_FONT="18px"
REACT_APP_VERY_BIG_FONT="22px"
