@keyframes fade-in {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes fade-out {
  from {
    opacity: 1
  }
  to {
    opacity: 0
  }
}

@keyframes fade-in-contact {
  from {
    opacity: 0;
    transform: translateY(-50%) scale(0);
  }
  to {
    opacity: 1;
    transform: translateY(-50%) scale(1);
  }
}

@keyframes resume {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}