.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: var(--header-height);
  display: flex;
  align-items: center;
  padding: 0 var(--desktop-padding);
  justify-content: space-between;
  background-color: var(--second-background-color);
  border-bottom: 2px solid var(--first-background-color);
  z-index: 3;
  color: var(--first-text-color);

  @media screen and (max-width: 1000px) {
    padding: 0 var(--tablet-padding);
  }

  @media screen and (max-width: 480px) {
    padding: 0 var(--mobile-padding);
    height: calc(var(--header-height) - 15px);
  }
}

.header-logo-hamburger {
  display: none;

  @media screen and (max-width: 480px) {
    margin-right: -9px;
    width: 40px;
    min-width: 40px;
    height: 40px;
    margin-left: 5px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.header-logo-name {
  display: none;

  @media screen and (max-width: 480px) {
    display: block;
    font-weight: bold;
    background: -webkit-linear-gradient(#2b315f, #005a6e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: opacity ease 0.2s, transform ease 0.2s;

    &.hide {
      opacity: 0;
      transform: scale(0.6);
    }
  }
}

.header-logo-line {
  width: 55%;
  height: 2px;
  background-color: var(--second-color);
  margin: 4px 0;
}

.header-logo-cont {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font);

  @media screen and (max-width: 480px) {
    position: absolute;
    z-index: 1;
    left: var(--mobile-padding);
    transition: left ease 0.2s;

    &.center {
      left: calc(50% - 20px);
    }
  }
}

.header-logo {
  display: block;
  width: 55px;
  height: 55px;
  object-fit: contain;
  margin-bottom: -5px;

  @media screen and (max-width: 480px) {
    width: 40px;
    height: 40px;
    margin-bottom: 0;
  }
}

.header-logo-text {
  will-change: transform;
  font-weight: bold;
  background: -webkit-linear-gradient(#2b315f, #005a6e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media screen and (max-width: 480px) {
    display: none;
  }
}

.header-content {
  display: inline-flex;
  align-items: center;

  @media screen and (max-width: 480px) {
    display: none;
  }
}

.header-content-item {
  padding: 8px 16px;
  font-size: var(--regular-font);
  font-weight: bold;
  border-radius: var(--first-radius);
  cursor: pointer;
  margin-right: 15px;
  transition: color ease 0.2s;

  &.order {
    color: var(--second-color);
    border: 1px solid var(--second-color);
    padding: 10px 30px;

    &:hover {
      color: var(--second-color);
    }
  }

  &:hover {
    color: var(--second-text-color);
  }

  @media screen and (min-width: 480px) {
    &.mobile {
      display: none;
    }
  }

  @media screen and (max-width: 480px) {
    &.order {
      padding: 10px 0;
      margin: 0;
      width: 45px;
      border: none;
      font-weight: bold;
      transition: transform ease 0.2s, opacity ease 0.2s;

      &.hide {
        opacity: 0;
        transform: scale(0.6);
      }
    }
  }
}