@import "mixin";

.home-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 120px var(--desktop-padding);
  background-color: var(--second-background-color);

  @media screen and (max-width: 1000px) {
    padding: 80px var(--tablet-padding);
  }

  @media screen and (max-width: 480px) {
    padding: 35px var(--mobile-padding) 50px var(--mobile-padding);
    flex-wrap: wrap;
    justify-content: center;
  }
}

.home-section-right {
  text-align: right;
  max-width: 470px;

  @media screen and (max-width: 480px) {
    text-align: center;
  }
}

.home-section-title {
  font-size: var(--damn-font);
  color: var(--first-text-color);

  @media screen and (max-width: 480px) {
    font-size: var(--huge-font);
  }
}

.home-section-desc {
  font-size: var(--big-font);
  margin: 20px 0 5px 0;
  color: var(--first-color);
  @include justify;
  text-align-last: right;
  line-height: 28px;

  &.silver {
    color: var(--second-text-color);
  }

  @media screen and (max-width: 480px) {
    font-size: var(--regular-font);
    text-align-last: center;
  }
}

.home-section-button {
  display: inline-block;
  padding: 10px 45px;
  color: var(--second-background-color);
  font-size: var(--title-font);
  font-weight: bold;
  border-radius: var(--first-radius);
  margin-top: 30px;
  cursor: pointer;
  @include btn-back;

  @media screen and (max-width: 480px) {
    font-size: var(--regular-font);
  }
}

.home-section-img {
  width: 50%;
  margin-left: -1.8%;
  max-width: 520px;
  margin-right: 35px;
  aspect-ratio: 500 / 333;

  @media screen and (min-width: 480px) {
    &.mobile {
      display: none;
    }
  }

  @media screen and (max-width: 480px) {
    margin-top: 30px;
    margin-right: 0;
    margin-left: 0;
    width: 90%;

    &.desktop {
      display: none;
    }
  }
}

.home-courses-arrow-down {
  background-color: var(--second-background-color);
  width: 70px;
  height: 70px;
  transform: rotate(45deg);
  position: absolute;
  top: -35px;
  left: calc(50% - 35px);
  border-radius: 0 0 var(--first-radius) 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-courses-arrow-down-svg {
  margin-top: 10px;
  margin-left: 10px;
  width: 30px;
  height: 30px;
  transform: rotate(-135deg);
  fill: var(--first-text-color);
}

.home-section-second {
  position: relative;
  padding: 75px var(--desktop-padding);

  @media screen and (max-width: 1000px) {
    padding: 50px var(--tablet-padding);
  }

  @media screen and (max-width: 480px) {
    padding: 50px var(--mobile-padding);
  }
}

.home-section-second-title {
  font-size: var(--huge-font);
  margin: 10px 0 50px 0;
  font-weight: bold;
}

.home-section-second-content {
  display: flex;

  @media screen and (max-width: 480px) {
    flex-wrap: wrap;
  }
}

.home-section-second-item {
  text-align: center;
  margin: 15px 3%;
  border: 2px solid var(--second-background-color);
  border-radius: var(--second-radius);
  padding: 40px;

  @media screen and (min-width: 480px) {
    &:last-child {
      margin-left: 0;
    }

    &:first-child {
      margin-right: 0;
    }
  }

  @media screen and (max-width: 480px) {
    margin: 15px 5%;
    width: calc(90% - 80px);
  }
}

.home-section-second-item-svg {
  background-color: var(--second-background-color);
  width: 100px;
  height: 100px;
  fill: var(--first-color);
  border-radius: 50%;
  padding: 15px;
  box-shadow: 0 0 9px 1px rgba(255, 255, 255, 0.4);
  margin-bottom: 5px;
  transition: all ease 0.6s;

  &:hover {
    transform: rotate(360deg);
    box-shadow: 0 0 15px 1px rgba(255, 255, 255, 0.7);
  }
}

.home-section-second-item-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin: 12px 0 10px 0;
}

.home-section-second-item-circle {
  width: 5px;
  height: 5px;
  margin-left: 5px;
  border-radius: 50%;
  background: var(--first-color);

  &.service {
    width: 8px;
    height: 8px;
    margin-left: 8px;
    margin-right: -16px;
  }
}

.home-section-second-item-desc {
  @include justify;
  text-align-last: center;
  color: var(--second-text-color);
}

.home-section-third {
  padding: 50px var(--desktop-padding);
  min-height: calc(100vh - 100px - 80px);
  background-color: var(--second-background-color);
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 1000px) {
    padding: 50px var(--tablet-padding);
  }

  @media screen and (max-width: 480px) {
    padding: 50px var(--mobile-padding);
    flex-wrap: wrap;
  }
}

.home-section-third-content {
  text-align: right;
  max-width: 450px;

  @media screen and (max-width: 480px) {
    text-align: center;
    width: 100%;
  }
}

.home-section-third-img-cont {
  max-width: 480px;
  margin-right: 10%;
  border: 2px solid var(--first-background-color);
  padding: 15px;
  border-radius: var(--third-radius);

  @media screen and (max-width: 480px) {
    width: 90%;
    margin: 0 5%;
  }
}

.home-section-third-img {
  max-width: 100%;
  border-radius: var(--second-radius);
  display: block;
}

.home-section-third-first {
  color: var(--first-color);
  font-size: var(--big-font);
  margin: 20px 0;
  @media screen and (max-width: 480px) {
    font-size: var(--regular-font);
    margin: 20px 0 0 0;
  }
}

.home-section-third-second {
  font-size: var(--damn-font);
  font-weight: bold;

  @media screen and (max-width: 480px) {
    font-size: var(--huge-font);
  }
}

.home-section-third-third {
  color: var(--second-text-color);
  font-size: var(--big-font);
  @include justify;
  text-align-last: right;
  line-height: 28px;

  @media screen and (max-width: 480px) {
    text-align-last: center;
    font-size: var(--regular-font);
    &.desktop {
      display: none;
    }
  }

  @media screen and (min-width: 480px) {
    &.mobile {
      display: none;
    }
  }
}

.home-section-third-button {
  display: block;
  margin-top: 20px;

  @media screen and (min-width: 480px) {
    &.mobile {
      display: none;
    }
  }

  @media screen and (max-width: 480px) {
    width: 100%;
    &.desktop {
      display: none;
    }
  }
}

.home-section-third-button-material {
  display: inline-flex;
  align-items: center;
  padding: 10px 25px 10px 20px;
  border: 1px solid var(--second-text-color);
  border-radius: var(--first-radius);
  cursor: pointer;
  font-size: var(--title-font);
  transition: border ease 0.2s;

  &:hover {
    border: 1px solid var(--first-text-color);
  }

  @media screen and (max-width: 480px) {
    width: calc(100% - 45px - 2px);
    text-align: center;
    justify-content: center;
  }
}

.home-section-third-button-svg {
  width: 20px;
  margin-right: 6px;
  margin-bottom: 1px;
  fill: var(--second-text-color);
}

.home-section-forth {
  padding: 50px var(--desktop-padding);

  @media screen and (max-width: 1000px) {
    padding: 50px var(--tablet-padding);
  }

  @media screen and (max-width: 480px) {
    padding: 50px var(--mobile-padding);
  }
}

.home-section-forth-content-box {
  display: flex;

  @media screen and (max-width: 480px) {
    flex-wrap: wrap;
  }
}

.home-section-forth-title {
  font-size: var(--huge-font);
  margin-bottom: 40px;
}

.home-section-forth-content {
  padding: 10px 40px 40px 40px;
  border: 2px solid var(--second-background-color);
  border-radius: var(--second-radius);
  margin: 0 2%;
  width: 45%;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

  @media screen and (min-width: 480px) {
    &:first-child {
      margin-right: 0;
    }

    &:last-child {
      margin-left: 0;
    }
  }

  @media screen and (max-width: 480px) {
    margin: 10px 5%;
    max-width: calc(90% - 80px);
  }
}

.home-section-forth-img {
  width: 75%;
  height: 250px;
  object-fit: contain;

  @media screen and (max-width: 480px) {
    width: 100%;
    height: 200px;
  }
}

.home-section-forth-content-title {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: var(--big-font);
  margin-bottom: 8px;
  min-width: 100%;
}

.home-section-forth-content-text {
  font-size: var(--title-font);
  line-height: 28px;
  @include justify;
  text-align-last: center;
  color: var(--second-text-color);
  min-width: 100%;

  @media screen and (max-width: 480px) {
    font-size: var(--regular-font);
  }
}