.resume {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 15px var(--desktop-padding);
  width: calc(100% - 2 * var(--desktop-padding) + 30px);
  margin-right: -15px;

  @media screen and (max-width: 100px) {
    padding: 15px var(--tablet-padding);
    width: calc(100% - 2 * var(--tablet-padding) + 30px);
  }

  @media screen and (max-width: 480px) {
    padding: 15px var(--mobile-padding);
    width: calc(100% - 2 * var(--mobile-padding) + 30px);
  }
}

.resume-box {
  background-color: var(--second-background-color);
  padding: 20px;
  margin: 15px;
  width: 360px;
  border-radius: var(--third-radius);
  flex-grow: 1;
  cursor: pointer;
}

.resume-box-hide {
  padding: 0 20px;
  margin: 0 15px;
  width: 360px;
  flex-grow: 1;
}

.resume-box-img {
  width: 100%;
  border-radius: var(--second-radius);
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
  display: block;
}

.resume-box-img-fix-cont {
  position: fixed;
  padding: 25px var(--desktop-padding);
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  overflow: auto;
  border-radius: var(--second-radius);
  backdrop-filter: blur(6px);
  background-color: var(--first-material-color);
  animation: resume ease 0.1s;

  @media screen and (max-width: 1000px) {
    padding: 25px var(--tablet-padding);
  }

  @media screen and (max-width: 480px) {
    padding: 25px var(--mobile-padding);
  }
}

.resume-box-img-fix {
  width: 100%;
  display: block;
  border-radius: var(--second-radius);
}

.resume-box-img-loading {
  position: absolute;
  left: calc(50% - 30px);
  top: calc(50% - 30px);
  transition: opacity ease 0.2s;

  &.hide {
    opacity: 0;
  }
}